<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="FirstSpring" class="HelloWorld.SpringHelloImpl" scope="singleton"></bean>-->

<!--    <bean id="Dao" class="Dao.DaoImpl">-->
<!--  普通数据类型注入 -->
<!--   name是set函数的函数名     -->
<!--        <property name="age" value="11"></property>-->
<!--        <property name="myName" value="peter"></property>-->
<!--    </bean>-->

<!--  常规注入  -->
<!--    <bean id="Service" class="DI.UserServiceImpl">-->
<!--        <property name="userDaoDI" ref="Dao"></property>-->
<!--    </bean>-->

<!--  P命名空间注入  -->
<!--    <bean id="Service" class="DI.UserServiceImpl" p:userDaoDI-ref="Dao"></bean>-->

<!--  构造注入  -->
<!--    <bean id="Service" class="DI.UserServiceImpl">-->
<!--        <constructor-arg name="userDao" ref="Dao"></constructor-arg>-->
<!--    </bean>-->


<!--    <bean id="BookFinder" class="Book.Implements.RemoteFinder"></bean>-->
<!--    <bean id="sim" class="ChinaMobile">-->
<!--        <property name="phoneNumber" value="18896652190"></property>-->
<!--    </bean>-->

<!--    <bean id="sim" class="ChinaTele">-->
<!--        <property name="phoneNumber" value="18896652190"></property>-->
<!--        <constructor-arg name="age" value="27"></constructor-arg>-->
<!--        <constructor-arg name="userName" value="PeterZhu"></constructor-arg>-->
<!--    </bean>-->

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/iknow"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1993315zxy"></property>
    </bean>

    <context:component-scan base-package="java"></context:component-scan>

</beans>